*{
    background-color: black;
    color: white;
   /* font-size: larger;*/
}
h1{
    Color: red;
    text-transform: uppercase;
    text-align: center;
    margin:22%;
}
#rolarPag{
    color: red;
    text-align:end;
}
#titSub{
    text-align:center;
    margin:20px;
    padding: 5px;
    border-style: double;
    border-radius: 5px;
}
#subtitulo{
    text-align:center;
    margin:20px;
    padding: 5px;
    border-style: double;
    border-radius: 5px;
}
#racas{
    text-align:center;
    margin:20px;
    padding: 5px;
    border-style: double;
    border-radius: 5px;
}
ol{
    text-align: center;
}
#cao{
    align-items: center;
}
div{
    width: 250px;
    max-height: 60px;
    min-height: 20px;
    border:2px solid;
    color:red;
}
#obsCao{
    text-align: center;
    margin:2px;
}